<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:remove="all">Teste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="testeEmail.css">
</head>

<body>
<div class="header">
    <div class="header-inner">
        <h1>
            Olá Teste, <span th:text="${usuario}"></span>
        </h1>
        <p>
            Teste envio de e-mail com template.<br><br>
            <a th:href="${link}">
                <button type="button" class="btn">CLIQUE AQUI</button>
            </a>
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Quis auctor elit sed vulputate mi sit amet. Eget egestas purus viverra
            accumsan. Arcu risus quis varius quam quisque. Sodales ut etiam sit amet. Enim diam vulputate ut
            pharetra sit amet. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Neque ornare
            aenean euismod elementum nisi quis. Tellus mauris a diam maecenas. Dolor purus non enim praesent
            elementum facilisis leo vel fringilla. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus.
            Fusce ut placerat orci nulla. Nulla aliquet enim tortor at. Nisl condimentum id venenatis a
            condimentum. Etiam sit amet nisl purus. Tortor id aliquet lectus proin nibh nisl condimentum id.
        </p>
    </div>
</div>
</body>

</html>
